{% extends 'base/base.html' %}

{% load static %}

{% block content %}
<h1>Рейтинговая таблица контеста "{{object}}"</h1>
<a href="/contest/{{object.id}}/">К контесту</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col" rowspan="2">Имя</th>
      <th scope="col" rowspan="2">Сумма</th>
      <th scope="col" colspan="{{task_count}}">Баллы за задачи</th>
    </tr>
    <tr>
      {% for task in tasks %}
      <th scope="col">{{task.title}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for row in standings %}
    <tr>
      {% for data in row %}
      <td>{{ data }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
